.toolbar{
    height: 50px;
  }

  .button{
    background-color: transparent !important;
    color: white;
    border: 0;
  }

  .example-card {
    width:700px;
    height: 300px;
    margin-bottom: 8px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
  }

  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: max-content; 
  margin: 0 auto;
  position: relative;

  }

  .delete-button {
    position: absolute;
    bottom: 16px; 
    right: 16px; 
  }