.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-image: url('/assets/images/login.jpg'); 
  background-size: cover;
  background-position: center; 
}

.error-login {
  color: red;
  text-align: center;
}

.welcome-message {
  flex: 1; /* Take 1/3 of the container's width */
  padding: 20px;
}

.form-container {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Add some margin at the bottom */
  flex: .5; /* Take 1/3 of the container's width */
  margin-right: 50px; /* Adjust margin to space it from the right side */
}

@media only screen and (max-width: 767px) {
  .form-container {
    width: calc(100% - 50px); /* Calculate width to fit smaller screens */
    margin: 0 auto; /* Center the container horizontally */
  }
}

h2 {
  text-align: center;
  margin-bottom: 15px; /* Reduce margin */
  color: #333;
}

.form-field {
  width: 100%;
}

.form-group {
  margin-bottom: 10px; /* Increase margin for better spacing */
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  font-size: 16px; /* Adjust font size to 16px for better readability */
  /* Other styles */
}

button.main-button {
  width: 100%;
  padding: 8px; /* Reduce padding */
  font-size: 16px; /* Increase font size */
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

p {
  text-align: center;
  margin-top: 10px; /* Reduce margin */
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
